@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins";
}

body {
  background: #f5f5f5;
}

header {
  height: 100px;
}

.container__header {
  max-width: 1210px;
  height: 100%;
  margin: auto;
  padding: 30px;
  padding-top: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo img {
  width: 90px;
}

.menu nav ul {
  display: flex;
}

.menu nav ul li {
  list-style: none;
  padding: 0px 30px;
}

.menu nav ul li a {
  font-size: 20px;
  text-decoration: none;
  color: #E7CFCB;
  transition: opacity 300ms;
}

.menu nav ul li a:hover {
  opacity: 0.6;
}

#icon_menu {
  display: none;
}


main {
  max-width: 1250px;
  /* height: calc(400vh); */
  padding: 40px;
  margin: auto;
}

.cover {
  display: flex;
  justify-content: center;
  margin-top: 80px;
}

.text_informacion {
  width: 80%;
}

.text_informacion h1 {
  font-size: 50px;
  color: #E7CFCB;
}

.text_informacion span {
  color: #E2D3AC;
}

.text_informacion p {
  font-size: 20px;
  margin-top: 25px;
  color: #878787;
  max-width: 500px;
}

.media__cover {
  width: 90%;
}

.media_cover img {
  width: 110%;
  margin-top: -50px;
  margin-right: -500px;
}

.Text-cover {
  margin-top: 70px;
  text-align: center;

}

.Text-cover h1 {
  font-size: 30px;
  color: #E2D3AC;
}

.Text-cover p {
  font-size: 22px;
  color: #B6C4C7;
}



.Servicios2 {
  margin-top: 40px;
  background-color: #E2D3AC;
  border: 15px solid transparent;
  border-radius: 0px 0px 0px 750px;
  justify-content: space-between;
  gap: 20px;
  display: flex;
  /* align-items: center; */
  /* justify-content: center; */
  height: calc(195vh);
  /* text-align: center; */
}

.Servicios h4 {
  color: white;
  font-size: 38px;
}

.Servicios2 p {
  margin-top: 10px;
  color: white;
  font-size: 19px;
}

.fotos-servicios {
  margin-top: 140px;
  display: flex;
  align-items: center;
  flex-grow: 1;
  flex-direction: column;
}

.photo1 {
  aspect-ratio: 1.39;
  object-fit: auto;
  object-position: center;
  width: 550px;
  height: 600px;
  border-radius: 23px;
}

.photo2 {
  aspect-ratio: 0.85;
  object-fit: auto;
  object-position: center;
  width: 483px;
  border-radius: 23px;
  align-self: center;
  margin-top: 32px;
  max-width: 100%;
}

.conter-servios {

  margin-top: 40px;
  margin-left: 150px;
  /* margin: auto */
}

.card_servicios {
  display: flex;
  gap: 50px;
  margin-top: 50px;

}

.card_servicios p {
  color: #E2D3AC;
  font-size: 16px;
}

.card_servicios img {
  width: 70px;
  height: 70px;
}

.card-servicios {

  margin-left: 12px;
  margin-top: 10px;
  width: 250px;
  height: 200px;
  border-radius: 20px;
  background: white;
  position: relative;
  padding: 1.8rem;
  transition: 0.5s ease-out;
  overflow: visible;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.card-servicios2 {
  margin-left: 12px;
  margin-top: 50px;
  width: 216px;
  height: 192px;
  border-radius: 20px;
  background: white;
  position: relative;
  padding: 1.8rem;
  transition: 0.5s ease-out;
  overflow: visible;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.card-servicios2 p {
  color: #E2D3AC;
  font-size: 16px;
}

.card-servicios2 img {
  justify-items: center;
  width: 63px;
  height: 63px;
}

.main2 {
  background-color: #CBD7CB;
  height: calc(210vh);
}

.main3 {
  background-color: #CBD7CB;
  /* margin-top: 10px; */
}

.formacion {
  max-width: 1200px;
  /* height: calc(400vh); */
  /* padding: 40px; */
  margin: auto;
  height: calc(110vh);

}

.text-formacion h4 {
  /* margin-top: 30px; */
  color: white;
  font-size: 38px;
  ;
}

.container_informacion {
  align-items: center;
  /* justify-content: space-between; */
  display: flex;
  margin-top: 45px;
  margin-left: 40px;
}

.info_1 {
  /* max-width: auto; */
  margin-right: 10px;
}

.column2info {
  margin-left: 90px;
  width: 550px;
}

.div-text {
  border-radius: 105px;
  box-shadow: 0px 2.874px 17.246px -0.719px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(14px);
  background-color: #fff;
  max-width: 620px;
  margin-top: 35px;
}

.div-text3 {
  border-radius: 105px;
  box-shadow: 0px 2.874px 17.246px -0.719px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(14px);
  background-color: #fff;
  max-width: 720px;
  margin-top: 35px;
}

.div-text2 {
  gap: 20px;
  display: flex;
}

.column-info {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: auto;
  /* margin-left: 0px; */
}

.title {
  border-radius: 87px;
  box-shadow: 0px 2.874px 17.246px -0.719px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(14.371501922607422px);
  background-color: #cbd7cb;
  flex-grow: 1;
  color: #fff;
  white-space: nowrap;
  width: 100%;
  padding: 50px 17px;
  font: 600 30px Poppins, sans-serif;
}

.column-info2 {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 50%;
  /* margin-left: 20px; */
}

.uni {
  color: #CBD7CB;
  text-align: center;
  align-self: stretch;
  margin: auto;
  /* margin-ri: 40px; */
  width: 340px;
  font: 500 20px Poppins, sans-serif;
}

.uni p {
  margin-left: -50px;
}

.uni1 {
  color: #CBD7CB;
  text-align: center;
  align-self: stretch;
  margin: auto;
  margin-right: 40px;
  width: 270px;
  font: 500 20px Poppins, sans-serif;
}


.main4 {
  background-color: #B6C4C7;
  height: calc(115vh);

}

.contacto {
  max-width: 1250px;
  padding: 40px;
  margin: auto;
  margin-left: 50px;
}

.text-contacto h4 {
  margin-top: 20px;
  color: white;
  font-size: 38px;
  ;
}

.text-contacto {
  margin-top: 20px;
}

.container_contacto {
  display: flex;
}

.map iframe {
  border: none;
  border-radius: 18px;
  margin-top: 35px;
  width: 700px;
  height: 500px;
}

.colum1 {
  /* background-color: white; */
  height: 200px;
  width: 700px;
  display: flex;
  justify-items: center;
  margin-top: 40px;
  margin-left: 30px;

}

.direcion {
  /* background-color: #af9ed8; */
  margin-left: 30px;
  align-items: center;
  text-align: center;
}


.horario {
  /* background-color: #8bd3dc; */
  align-items: center;
  text-align: center;
  margin-left: 80px;

}

.circulo {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0px auto;
  padding: 3%
}

.circulo svg {
  width: 70px;
  padding: auto;
  color: #B6C4C7;
}

.colum2 {
  margin-top: 60px;
  display: flex;
  justify-items: center;
  margin-left: 150px;
}

.phone {
  /* margin-left: 30px; */
  align-items: center;
  text-align: center;
}

.title-info {
  margin-top: 10px;
  color: white;
  font-size: 30px;
}

.colum1 p {
  font-size: 20px;
  color: white;
}

.colum2 p {
  font-size: 20px;
  color: white;
}

.logi {
  text-align: center;
  margin-top: 80px;
  margin-left: 10px;
  color: white;
}


@media (max-width: 1024px) {

  .header__consulta,
  main {
    padding: 20px;
  }

  #icon_menu {

    border-radius: 8px;
    display: block;
    cursor: pointer;
    font-size: 35px;
    color: #E7CFCB;
  }

  .header__consulta {
    display: none;
  }

  .menu {
    height: 0px;
    position: absolute;
    right: 20px;
    top: 70px;
    overflow: hidden;
    z-index: 10;
    box-shadow: 0px 0px 30px -20px rgba(0, 0, 0, 0.5);
    transition: all 300ms;
  }

  .menu nav ul {
    padding: 20px 0px;
    flex-direction: column;
    background: #fff;
  }

  .menu nav ul li {
    padding: 10px 40px;
  }

  .mostrar_menu {
    height: 235px;
  }

  .text_informacion h1 {
    margin-top: -50px;
    font-size: 32px;
    margin-left: -35px;
  }

  .text_informacion p {
    font-size: 20px;
    /* text-align: left; */
    margin-left: -35px;
    color: #B6C4C7;
  }

  .media_cover {
    display: none;
  }

  .Text-cover {
    margin-top: 45px;
    text-align: left;

  }

  .Text-cover h1 {
    font-size: 32px;
  }

  .Text-cover p {
    font-size: 18px;
  }

  .main2 {
    background-color: #E2D3AC;
    height: calc(180vh);
  }


  .Servicios {
    display: table;
    justify-content: center;
    
  }

  .Servicios h4 {
    margin-top: -30px;
    font-size: 32px;
    margin-left: -50px;
  }

  .Servicios p {
    font-size: 20px;
    margin-left: -50px;
    width: 380px;
  }

  .Servicios2 {
    margin-top: 45px;
    background-color:transparent;
    margin-left: -100px;
    border-radius: 0px;
    justify-content:center;
    gap: 20px;
    display: flex;
    height: calc(0vh);

  }

  .conter-servios{
    background-color: none;
  }

  .servicios1 {
    margin-top: -20px;
  }

  .card_servicios {
    display: table;
    justify-content: center;
    text-align: center;
    /* margin-left: -60px; */
    width: 330px;
    margin-top: 20px;
  }

  .card-servicios p {
    width: 300px;
    text-align: center;
    margin-left: -10px;
  }

  .card_servicios img {
    align-items: center;
    margin: -5px;
  }

  .card-servicios2,
  .card-servicios {
    width: 330px;
    align-items: center;
    /* justify-content: center; */
    margin-left: -35px;
    margin-top: 20px;
  }


  /* .card-servicios{
  width: 330px;
  align-items: center;
  justify-content: center;
  margin-left: -35px;
} */

  .fotos-servicios {
    display: none;
  }


  /* 
  .container_informacion{
    display: table;
    justify-content: center;
    text-align: center;
  }
  
  .column2info{
    margin-left: 0PX;
  }
 */

  .formacion {
    max-width: auto;
     padding: 40px; 
     margin: auto; 
     height: calc(140vh); 

  }

  .main3{
    margin-top: -300px;
  }

  .text-formacion h4 {
    /* margin-top: 30px; */
    color: white;
    font-size: 38px;
    ;
  }

  .container_informacion {
    display: table;
    justify-content: center;
    text-align: center;
    margin-left: -8px; /*  Este es para el medio de lka formacion*/
    
  }

  .info_1 {
    /* max-width: auto; */
    margin-right: 10px;
  }

  .column2info {
    margin-left: 0PX;
  }

  .div-text {
    border-radius: 105px;
    box-shadow: 0px 2.874px 17.246px -0.719px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(14px);
    background-color: white;
    max-width: 352px;
    max-height: 200px;
    margin-top: 35px;
  }

  .div-text3 {
    border-radius: 105px;
    box-shadow: 0px 2.874px 17.246px -0.719px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(14px);
    background-color: white;
    max-width: 372px;
    max-height: 200px;
    margin-top: 35px;
    margin-left: -14px;
  }

  .div-text2 {
    gap: 20px;
    display: flex;
  }

  .column-info {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: auto;
    /* margin-left: 0px; */
  }

  .title {
    border-radius: 87px;
    box-shadow: 0px 2.874px 17.246px -0.719px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(14.371501922607422px);
    background-color: #cbd7cb;
    flex-grow: 1;
    color: #fff;
    white-space: nowrap;
    width: 100%;
    padding: 50px 17px;
    font: 200 18px Poppins, sans-serif;
  }

  .column-info2 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 50%;
    /* margin-left: 20px; */
  }

  .uni {
    color: #CBD7CB;
    text-align: center;
    align-self: stretch;
    margin: auto;
    margin-right: -30px;
    width: 180px;
    font: 500 16px Poppins, sans-serif;
  }

  .uni p {
    margin-left: -50px;
  }

  .uni1 {
    color: #CBD7CB;
    text-align: center;
    align-self: stretch;
    margin: auto;
    /* margin-right: 40px; */
    width: 200px;
    font: 500 16px Poppins, sans-serif;
  }

  .uni1 p{
    text-align: center;
  }



  .main4 {
    display: none;
  }





  /* end del querry */
}








/*   
.main2{
  background-color: #E2D3AC;
}


  .container_informacion {
    display: table;
    width: auto;
    justify-content: center;
   
    
  }
  .nosotros h1 {
    font-size: 35px;
    margin-top: 50px;

  }

  .card_valores {
    margin-left: -15px;
    margin-top: 10px;
    display: table;
    width: auto;
  }

  .card {
    width: auto;
    margin-top: 25px;
  }

  .Servicios2 {
    margin-top: -80px;
  }

  .card_servicios {
    margin-top: 10px;
    display: table;
    width: auto;
  }

  .card-servicios {
    width: auto;
    margin-top: 25px;
  }

.main2{
  display: flex;
  justify-items: center;
  width: 100%;
}

.contacto{
  margin-top: 50px;
  justify-content: center;
  display: none;

}

.contactos_dire{
  justify-content: center;
  display: table;

}

.fotos-servicios{
  display: none;
}

  .card-footer {
    height: 290px;
    width: auto;
  }

  .map {
    margin-top: 5px;
  }

  .logi {
    text-align: center;
    margin-top: 30px;
    padding: 10px;
  }

} */

/* @media (max-width: 920px) {
  .text_informacion {
    width: 100%;
  }

  .media_cover {
    display: none;
  }

}  */